<!DOCTYPE html>
<html lang="en">
<head>
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo Cart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Site.min.css" />
    @*<link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/cart.css" />
    <link rel="stylesheet" href="~/css/ProductDetail.css" />*@

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/js/MyLocalStorage.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="HomePage">BOOK CART EXAMPLE </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end flex-column-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("username") == null)
                            {
                                <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Signin">Đăng nhập</a>
                            }
                            else
                            {
                                <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Signout">Đăng xuất</a>
                            }
                        </li>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link text-white" onclick="ajaxAdapter.getCart()" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="fa fa-gift bigicon"></span> Giỏ hàng<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-cart" id="dropdown-cart" role="menu">
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Demo_Cart_With_DotNetMVC - <a href="https://github.com/truong-lv">truong-lv</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @*<script src="~/js/CartHandle.js"></script>*@
    <script src="~/js/Site.min.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
