body {
    background: #F5F5F5 !important;
}
.row.header {
    width: 100%
}

#header {
    /* height: 600px;
	background: url(../image/background4.jpg) no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}

.body-homepage {
    margin-top: 30px;
}

.card-book img {
    height: 350px;
}

#navbar-homepage a {
    color: white !important;
}

#img-product-detail {
    width: 100%;
}

#footer {
    margin-top: 42px;
    text-align: center;
    color: black;

    padding-top: 20px;
    padding-bottom: 20px;

}


.card-body .itemside, .itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100% !important;
}

.card-body .itemside, .itemside {
    text-decoration: none
}

    .card-body .itemside:hover, .itemside:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-decoration: none
    }

    .card-body .itemside .aside, .itemside .aside {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

.card-body .img-sm, .img-sm {
    max-width: 100%;
    height: 180px;
    padding: 7px
}

.card-body ul.row,
.card-body ul.row-sm {
    list-style: none;
    padding: 0
}

.card-body .itemside .info, .itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.card-body .itemside .title, .itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}

.card-body p {
    margin-top: 0;
    margin-bottom: 1rem
}

.card-body .title {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1
}


.items {
    width: 95%;
    text-align: center;
}

.slick-next:before, .slick-prev:before {
    color: black !important;
    font-size: 25px !important;
}